*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family:Montserrat, sans-serif;
    color: white;

background-image: url(https://09sanket.github.io/HolidayPlanLandingPage/assets/header.jpg);

}

nav{
    display: flex;
    justify-content: space-between;
    margin-right :20px;
    padding: 30px; 
}
.manu{
    list-style-type: none;
    gap: 40px;
    text-decoration: none;
    

}

 li:hover{
    color: chocolate;
    transform: scale(1.2);
     transition: all 0.3s ease-in-out;

 }
 .manu a{
    text-decoration: none;
    color: azure;
 }
.content{
    position: absolute;
    padding: 30px;
background-color: rgb(22, 39, 46, 0.9);
    font-size: 2.5em;
width: 50vw;
height: 100%;
    z-index: -1;

background-size:cover;
    
}
.background{
    display: flex;

}
.paragraph{
    font-size: 26px;
}

@keyframes move {
    from{
        transform: translateX(-50px);
        
    }

    to{
        transform: translateX(0);
    }
}
.content :nth-child(1){
     transform: scale(0.8);
    animation: move 0.5s  ease-in-out forwards alternate;
}
.content :nth-child(2){
     transform: scale(0.8);
    animation: move 1s  ease-in-out forwards alternate;
}
.content :nth-child(3){
     transform: scale(0.8);
    animation: move 2s  ease-in-out forwards alternate;
}
.content :nth-child(4){
     transform: scale(0.8);
    animation: move 1.2s  ease-in-out forwards alternate;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    text-align: center;
  }

  .manu {
    flex-direction: column;
    gap: 10px;
  }
  .background {
    
align-items: center;
gap: 10px;


}

.content h1{
    font-size: 26px;
    gap: 5px;

}

.content h2 {
    font-size: 18px;
  }

  .paragraph {
    font-size: 14px;
    align-items: center;
  }

  input {
    width: 100%;
  }
}
 